html
    include includes/head.pug
    body
        div(class="container")
            p(style="font-size:25px; color:blue; font-weight:bold")=title
            meter(
            min=min
            max=max
            value=nivel
            )
    